<main>
  	<section class="surveys-mainContainer">
		<article class="surveys-contentTemplate" *ngFor="let group of groups">
			<header class="surveys-contentTemplate-upperContent">
				<div class="contentTemplate-upperContent-leftSideContent">
					<div class="upperContent-leftSideContent-mainInformation">
						<h2 class="mainInformation-name titleText">
							{{ group.name }}
						</h2>
						<span class="mainInformation-siteContainer">
							<svg class="smallIcons"></svg>
							<p class="mainInformation-siteInfo smallText colorBlack">
								{{ group.site }}
							</p>
						</span>
						<div class="mainInformation-participantsContainer">
							<svg class="smallIcons"></svg>
							<p class="mainInformation-participantsInfo smallText">
								{{ group.participants }} Group Participants
							</p>
						</div>
						<div class="mainInformation-dateContainer">
							<svg class="smallIcons"></svg>
							<div class="mainInformation-dataText">
								<p class="mainInformation-startDateInfo smallText">
									{{ group.start_date }}
								</p>
								<p>
									-
								</p>
								<p class="mainInformation-finishDateInfo smallText">
									{{ group.end_date }}
								</p>
							</div>
						</div>
					</div>
					<div class="upperContent-leftSideContent-surveyCheckIns">
						<div class="surveyCheckIns-container">
							<svg></svg>
							<div class="surveyCheckIns-content">	
								<div class="surveyCheckIns-surveyDate-container">
									<p>
										Check-In Surveys
									</p>
									<hr>
									<p class="surveyCheckIns-surveyDate-Info">
										{{ group.survey_date }}
									</p>
								</div>
								<div class="surveyCheckIns-surveyAmount-container">
									<div class="surveyCheckIns-targetIcons-container">
										<span class="surveyAmount-amountMetContent">
											<svg class="smallIcons"></svg>
											<p class="amountMet-info">
												Target Met
											</p>
										</span>
										<span class="surveyAmount-targetIcon">
											<svg class="smallIcons"></svg>
										</span>
									</div>

									<div class="surveyAmount-numberAmount">
										<p class="numberAmount-validResponses">
											{{ group.valid_responses }}
										</p>
										<p>
											of
										</p>
										<p class="numberAmount-responseTarget">
											{{ group.response_target }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="contentTemplate-upperContent-rightSideContent">
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_2_12817)">
							<path d="M-2.0166e-06 9.24945C-1.98864e-06 8.6098 0.244123 7.96984 0.732372 7.48237C1.70887 6.50587 3.2908 6.50587 4.2673 7.48237L14.999 18.2176L25.7327 7.48237C26.7092 6.50588 28.2911 6.50588 29.2676 7.48237C30.2441 8.45887 30.2441 10.0408 29.2676 11.0173L16.7684 23.5165C15.7919 24.493 14.21 24.493 13.2335 23.5165L0.734325 11.0173C0.24217 10.529 -2.04457e-06 9.88925 -2.0166e-06 9.24945Z"/>
						</g>
						<defs>
						<clipPath id="clip0_2_12817">
						<rect width="30" height="30" fill="white" transform="translate(30) rotate(90)"/>
						</clipPath>
						</defs>
					</svg>
				</button>
			</header>

			<footer class="surveys-contentTemplate-bottomContent">
				<div class="bottomContent-leftSideContainer">
					<div class="leftSideContainer-checkInStatus">
						<div class="checkInStatus-content">
							<svg></svg>
							<p class="smallText">
								Check-In
							</p>
						</div>
						<div class="checkInStatus-triangleElement"></div>
					</div>
					<aside class="leftSideContainer-checkInSurvey">
						<div class="checkInSurvey-content">
							<div class="checkInSurvey-content-upperContent">
								<p class="mediumText">
									Check-In Survey Collection Progress
								</p>
								<div class="checkInSurvey-content-upperContent-surveyDate">
									<svg></svg>
									<div class="checkInSurvey-upperContent-surveyText">
										<p class="smallText">
											Planned Check-In Survey Date
										</p>
										<p class="checkInSurvey-surveyDataInfo smallText">
											{{ group.survey_date }}
										</p>
									</div>
								</div>
							</div>
							<div class="checkInSurvey-content-bottomContent">
								<div class="checkInSurvey-content-bottomContent-surveyResponses">
									<div class="surveyResponses-validResponses">
										<button class="validResponses-text">
											<p class="smallText">
												valid responses
											</p>
											<svg></svg>
										</button>
										<p>
											{{ group.valid_responses }}
										</p>
									</div>
									<div class="surveyResponses-responseTarget">
										<button class="responseTarget-text">
											<p class="smallText">
												response target
											</p>
											<svg></svg>
										</button>
										<p>
											{{ group.response_target }}
										</p>
									</div>
								</div>
								<div class="checkInSurvey-content-bottomContent-surveyBar">
									<div class="surveyBar-progressIndicator">
									</div>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<aside class="bottomContent-rightSideContainer">
					<div class="bottomContent-rightSideContainer-content">
						<p class="mediumText">
							Administering Check-In Surveys
						</p>
						<div class="rightSideContainer-content-downloadButtonContent">
							<span>
								<p>
									1
								</p>
							</span>
							<div class="downloadButtonContent-text">
								<p class="smallText">
									Print and Review Survey Admin Kit
								</p>
								<div class="downloadButtonContent-text-button">
									<hr>
									<a [href]="group.survey_admin_kit" target="_blank" download id="surveyAdminKit">
										<svg></svg>
									</a>
								</div>
							</div>
						</div>
						
						<div class="rightSideContainer-content-downloadButtonContent">
							<span>
								<p>
									2
								</p>
							</span>
							<div class="downloadButtonContent-text">
								<p class="smallText">
									Print Backup Surveys
								</p>
								<div class="downloadButtonContent-text-button">
									<hr>
									<a [href]="group.backup_surveys" target="_blank" download id="backupSurveys">
										<svg></svg>
									</a>
								</div>
							</div>
						</div>

						<div class="rightSideContainer-content-downloadButtonContent">
							<span>
								<p>
									3
								</p>
							</span>
							<div class="downloadButtonContent-text">
								<p class="smallText">
									Share Survey Link
								</p>
								<div class="downloadButtonContent-text-button">
									<hr>
									<a [href]="group.survey_link" target="_blank" download id="surveyLink">
										<svg></svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</aside>
			</footer>
		</article>
  	</section>
</main>
