<main>
  	<section class="surveys-mainContainer">
		<article class="surveys-contentTemplate">
			<header class="surveys-contentTemplate-upperContent">
				<div class="contentTemplate-upperContent-leftSideContent">
					<aside>
						
					</aside>
					<div class="upperContent-leftSideContent-mainInformation">
						<h2>
							Freshmen
						</h2>
						<span>
							<svg></svg>
							<p>
								Downtown Rec Center
							</p>
						</span>
						<div>
							<svg></svg>
							<p>
								35 Group Participants
							</p>
						</div>
						<div>
							<svg></svg>
							<p>
								Dec 1, 2023
							</p>
							<p>
								-
							</p>
							<p>
								Mar 30, 2024
							</p>
						</div>
					</div>
					<div class="upperContent-leftSideContent-surveyCheckIns">
						<div>
							<svg></svg>
							<div>
								<div>
									<p>
										Check-In Surveys
									</p>
									<hr>
									<p>
										March 11, 2024
									</p>
								</div>
								<div>
									<span>
										<svg></svg>
										<p>
											Target Met
										</p>
									</span>
									<span>
										<svg></svg>
									</span>
									<p>
										12 of 12
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<aside>
					<button>
						<svg></svg>
					</button>
				</aside>
			</header>
			<footer class="surveys-contentTemplate-bottomContent">
				<div>
					<div>
						<div>
							<svg></svg>
							<p>
								Check-In
							</p>
						</div>
						<div></div>
					</div>
					<aside>
						<div>
							<div>
								<p>
									Check-In Survey Collection Progress
								</p>
								<div>
									<svg></svg>
									<div>
										<p>
											Planned Check-In Survey Date
										</p>
										<p>
											March 11, 2024
										</p>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div>
										<span>
											<p>
												valid responses
											</p>
											<svg></svg>
										</span>
										<p>
											12
										</p>
									</div>
									<div>
										<span>
											<p>
												response target
											</p>
											<svg></svg>
										</span>
										<p>
											12
										</p>
									</div>
								</div>
								<div>
									<div>

									</div>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<aside>
					<div>
						<p>
							Administering Check-In Surveys
						</p>
						<div>
							<span>
								1
							</span>
							<div>
								<p>
									Print and Review Survey Admin Kit
								</p>
								<div>
									<hr>
									<button>
										<svg></svg>
									</button>
								</div>
							</div>
						</div>
						<div>
							<span>
								2
							</span>
							<div>
								<p>
									Print Backup Surveys
								</p>
								<div>
									<hr>
									<button>
										<svg></svg>
									</button>
								</div>
							</div>
						</div>
						<div>
							<span>
								3
							</span>
							<div>
								<p>
									Share Survey Link
								</p>
								<div>
									<hr>
									<button>
										<svg></svg>
									</button>
								</div>
							</div>
						</div>
					</div>
				</aside>
			</footer>
		</article>
  	</section>
</main>
